In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
# What is the number of observations in the dataset?
print("What is the number of observations in the dataset?")
print(chipo.shape[0])

What is the number of observations in the dataset?
4622

In [5]:
#  What is the number of columns in the dataset?
print(" What is the number of columns in the dataset?")
print(chipo.shape[1])

 What is the number of columns in the dataset?
5

In [6]:
# Print the name of all the columns.
print("Print the name of all the columns.")
print(chipo.columns)

Print the name of all the columns.
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
# How is the dataset indexed?
print("How is the dataset indexed?")
print(chipo.index)

How is the dataset indexed?
RangeIndex(start=0, stop=4622, step=1)

In [8]:
# Which was the most-ordered item?
items = chipo.groupby("item_name")
items = items.sum()
items = items.sort_values(['quantity'], ascending=False)
print("Which was the most-ordered item?")
print(items.head(1))

Which was the most-ordered item?
              order_id  quantity  \
item_name
Chicken Bowl    713926       761

                                             choice_description  \
item_name
Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...

                                                     item_price
item_name
Chicken Bowl  $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

In [9]:
# What was the most ordered item in the choice_description column?
print("What was the most ordered item in the choice_description column?")
cd = chipo.groupby('choice_description').sum()
cd = cd.sort_values(['quantity'], ascending=False)
cd.head(1)

What was the most ordered item in the choice_description column?

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

In [10]:
# How many items were orderd in total?
print("How many items were orderd in total?")
total_items_order = chipo.quantity.sum()
total_items_order

How many items were orderd in total?

4972

In [11]:
# Turn the item price into a float
print("Turn the item price into a float")
print(chipo.item_price.dtype)
# chipo.item_price.astype(dtype='f') error
# Remove $ and spaces, then convert to float
chipo['item_price'] = chipo.item_price.str.replace("$", "", regex=False).str.strip().astype(float)
print(chipo.item_price.dtype)

Turn the item price into a float
object
float64

In [12]:
# How many orders were made in the period?
print("How many orders were made in the period?")
total_orders = chipo.order_id.value_counts().count()
print(total_orders)

How many orders were made in the period?
1834

In [13]:
# What is the average revenue amount per order?
print("What is the average revenue amount per order?")
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id')['revenue'].sum().mean()

What is the average revenue amount per order?

21.39423118865867

In [14]:
# how many different items are sold?
print("how many different items are sold?")
print(chipo['item_name'].unique().size)
# OR
print(chipo['item_name'].value_counts().count())

how many different items are sold?
50
50

In [42]:
# How many products cost more than $10.00?
print("How many products cost more than $10.00?")

# With duplicates
print("This is with duplicates")
cond = chipo[chipo['item_price'] > 10]
print(cond.shape[0])# using shape[0] is better than size here, because size counts all elements (rows Ã— columns)
# print(cond)

# Without duplicates
print("Without duplicates")
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])
chipo_filtered = chipo_filtered[chipo_filtered['item_price'] > 10]
print(chipo_filtered.shape[0])

# After cleaning data
print("After cleaning data and remove duplicates")
chipo.dtypes['item_price']
filtered_items = (
    chipo
    .dropna()
    # .drop_duplicates(['item_name', 'quantity', 'choice_description'])
    .query('item_price > 10')
    [['item_name', 'item_price']]
    .sort_values('item_price')
)
filtered_items

How many products cost more than $10.00?
This is with duplicates
1130
Without duplicates
794
After cleaning data and remove duplicates

            item_name  item_price
2919     Chicken Bowl       10.58
3520  Chicken Burrito       10.58
1099  Chicken Burrito       10.58
1160  Chicken Burrito       10.58
476   Chicken Burrito       10.58
...               ...         ...
409      Chicken Bowl       32.94
3601   Veggie Burrito       33.75
3602  Chicken Burrito       35.00
1254  Chicken Burrito       35.00
3480    Carnitas Bowl       35.25

[1123 rows x 2 columns]

In [46]:
# What is the price of each item?
print("What is the price of each item?")
item = (
    chipo
    .query("quantity == 1")
    .drop_duplicates(["item_name"])
    [["item_name", "item_price"]]
)
item

What is the price of each item?

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
606                        Steak Salad Bowl       11.89
664                             Steak Salad        8.99
673                                    Bowl        7.40
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

In [47]:
# Sort by the name of the item
print("Sort by the name of the item")
chipo.sort_values("item_name")

Sort by the name of the item

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [57]:
# What was the quantity of the most expensive item ordered?
most_expensive_item = chipo.sort_values("item_price", ascending=False).iloc[0]['quantity']
# sort_data.head(1)['quantity']
most_expensive_item

15

In [69]:
# How many times was a Veggie Salad Bowl ordered?
veggie_salad_bowl = (
    chipo
    .query("item_name == 'Veggie Salad Bowl'")
)
print(veggie_salad_bowl.value_counts().count())

# OR 

veggie_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
print(len(veggie_salad))

18
18

In [71]:
# How many times did someone order more than one Canned Soda?
print("How many times did someone order more than one Canned Soda?")
canned_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(canned_soda)

How many times did someone order more than one Canned Soda?

20