In [31]:
import pandas as pd
import numpy as np

s = pd.Series(["1/1/2020 10:00:00+00:00", "2/1/2020 11:00:00+00:00"])
s

0    1/1/2020 10:00:00+00:00
1    2/1/2020 11:00:00+00:00
dtype: object

In [4]:
s = pd.to_datetime(s)
s

0   2020-01-01 10:00:00+00:00
1   2020-02-01 11:00:00+00:00
dtype: datetime64[ns, UTC]

In [5]:
idx = pd.DatetimeIndex(["1/1/2020 10:00:00+00:00",
                        "2/1/2020 11:00:00+00:00"])
idx.date

array([datetime.date(2020, 1, 1), datetime.date(2020, 2, 1)], dtype=object)

In [17]:
cust = pd.read_csv('customers-100.csv')
cust

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [19]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    datetime64[ns]
 11  Website            100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 9.5+ KB

In [20]:
cust['Subscription Date'] = pd.to_datetime(cust['Subscription Date'])
cust

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [25]:
# cust['Date'] = cust['Subscription Date'].dt.date
cust['Year'] = cust['Subscription Date'].dt.year
cust['Day'] = cust['Subscription Date'].dt.day
cust['Day_name'] = cust['Subscription Date'].dt.day_name()
cust['Month'] = cust['Subscription Date'].dt.month_name()
cust['Month_no'] = cust['Subscription Date'].dt.month
cust

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Year,Day,Day_name,Month,Month_no
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,2020,24,Monday,August,8
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,2021,23,Friday,April,4
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,2020,25,Wednesday,March,3
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,2020,2,Tuesday,June,6
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,2021,17,Saturday,April,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,2022,30,Sunday,January,1
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,2021,10,Saturday,July,7
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,2021,18,Saturday,September,9
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,2021,11,Wednesday,August,8
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,2020,11,Wednesday,March,3

In [29]:
df = pd.DataFrame(cust['Subscription Date'])
df['Year'] = df['Subscription Date'].dt.year
df['Day'] = df['Subscription Date'].dt.day
df['Day_name'] = df['Subscription Date'].dt.day_name()
df['Month'] = df['Subscription Date'].dt.month_name()
df['Month_no'] = df['Subscription Date'].dt.month
df['Date_dow'] = df['Subscription Date'].dt.dayofweek
df['Date week'] = df['Subscription Date'].dt.isocalendar().week
df

,Subscription Date,Year,Day,Day_name,Month,Month_no,Date_dow,Date week
0,2020-08-24,2020,24,Monday,August,8,0,35
1,2021-04-23,2021,23,Friday,April,4,4,16
2,2020-03-25,2020,25,Wednesday,March,3,2,13
3,2020-06-02,2020,2,Tuesday,June,6,1,23
4,2021-04-17,2021,17,Saturday,April,4,5,15
...,...,...,...,...,...,...,...,...
95,2022-01-30,2022,30,Sunday,January,1,6,4
96,2021-07-10,2021,10,Saturday,July,7,5,27
97,2021-09-18,2021,18,Saturday,September,9,5,37
98,2021-08-11,2021,11,Wednesday,August,8,2,32
99,2020-03-11,2020,11,Wednesday,March,3,2,11

In [30]:
# Extracting quarter and semester
df['Quarter'] = df['Subscription Date'].dt.quarter
df

,Subscription Date,Year,Day,Day_name,Month,Month_no,Date_dow,Date week,Quarter
0,2020-08-24,2020,24,Monday,August,8,0,35,3
1,2021-04-23,2021,23,Friday,April,4,4,16,2
2,2020-03-25,2020,25,Wednesday,March,3,2,13,1
3,2020-06-02,2020,2,Tuesday,June,6,1,23,2
4,2021-04-17,2021,17,Saturday,April,4,5,15,2
...,...,...,...,...,...,...,...,...,...
95,2022-01-30,2022,30,Sunday,January,1,6,4,1
96,2021-07-10,2021,10,Saturday,July,7,5,27,3
97,2021-09-18,2021,18,Saturday,September,9,5,37,3
98,2021-08-11,2021,11,Wednesday,August,8,2,32,3
99,2020-03-11,2020,11,Wednesday,March,3,2,11,1

In [38]:
# # Checking if the date is a weekend
df['Date_is_weekend'] = np.where(df['Day_name'].isin(['Sunday', 'Saturday']), 1 , 0)
df

,Subscription Date,Year,Day,Day_name,Month,Month_no,Date_dow,Date week,Quarter,Date_is_weekend
0,2020-08-24,2020,24,Monday,August,8,0,35,3,0
1,2021-04-23,2021,23,Friday,April,4,4,16,2,0
2,2020-03-25,2020,25,Wednesday,March,3,2,13,1,0
3,2020-06-02,2020,2,Tuesday,June,6,1,23,2,0
4,2021-04-17,2021,17,Saturday,April,4,5,15,2,1
...,...,...,...,...,...,...,...,...,...,...
95,2022-01-30,2022,30,Sunday,January,1,6,4,1,1
96,2021-07-10,2021,10,Saturday,July,7,5,27,3,1
97,2021-09-18,2021,18,Saturday,September,9,5,37,3,1
98,2021-08-11,2021,11,Wednesday,August,8,2,32,3,0
99,2020-03-11,2020,11,Wednesday,March,3,2,11,1,0

In [ ]:
# Extracting hour, minute, and second
# time['hour'] = time['date'].dt.hour
# time['minute'] = time['date'].dt.minute
# time['second'] = time['date'].dt.second
# time['time'] = time['date'].dt.time